[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
black = "*"
isort = "*"
ssort = "*"
mypy = "*"
pylint = "*"
flake8 = "*"
types-requests = "*"

[requires]
python_version = "3.10"
